@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nb-purple: #FFB6C1;
  --nb-purple-2: #FFC0CB;
  --nb-pink: #FF69B4;
  --nb-pink-2: #FF1493;
  --nb-white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nb-purple: var(--nb-purple);
  --color-nb-purple-2: var(--nb-purple-2);
  --color-nb-pink: var(--nb-pink);
  --color-nb-pink-2: var(--nb-pink-2);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
